@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

body {
	font-family: 'Shantell Sans', cursive;
}

h1 {
    font-family: 'Bangers', cursive;
    text-align: center;
    font-size: 56px;
}

.container {
    margin: 0 auto;
    padding: 0 3vw;
}

section {
    display: flex;
    justify-content: space-between;
    gap: 1vw;
    flex-wrap: wrap;
}

.card {
    border: 2px solid black;
    border-radius: 3%;
    padding: 1vw 1vh;
	width: 40vw;
	overflow: hidden;
}

.card h2 {
	text-align: center;
}

.card img {
	width: 100%;
	object-fit: cover;
}

.star {
	font-size: 2rem;
	color: beige;
}

.star:hover,
.star:focus {
	cursor: pointer;
	color: gold;
}

.clearButton {
	background-color: gold;
	font-size: 20px;
	color: aliceblue;
	font-family: 'Shantell Sans', cursive;
	margin-top: 5%;
	margin-left: 43%;
	margin-bottom: 5%;
	padding: 10px 20px;
	width: 15vw;
	text-align: center;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	box-shadow: 0 5px 0 0 darkgoldenrod;
	transition: transform ease-in-out 0.1s;
}

.clearButton:hover {
	transform: translateY(-5px);
	box-shadow: 0 10px 0 0 darkgoldenrod;
} 

.infoButton {
	background-color: gold;
	color: black;
	font-family: 'Shantell Sans', cursive;
	margin-top: 5%;
	margin-left: 30%;
	margin-bottom: 5%;
	padding: 10px 20px;
	width: 15vw;
	text-align: center;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	box-shadow: 0 2px 0 0 darkgoldenrod;
	transition: transform ease-in-out 0.1s;
}

.infoButton:hover {
	transform: translateY(-2px);
	box-shadow: 0 5px 0 0 darkgoldenrod;
} 